

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card" data-aos="fade-right">
            <img src="https://img.freepik.com/free-photo/original-glass-vase-with-angel-top-green-branch_1304-2744.jpg?ga=GA1.1.1378685497.1704724926&semt=ais_hybrid"
                alt="">
            <h1>HOME SCENTS</h1>
            
            <button class="btn but" (click)="onclick1()">explore now</button>
        </div>
    </div>
    <div class="col">
        <div class="card" data-aos="fade-top">
            <img src="https://img.freepik.com/free-photo/elegant-vegan-alcohol-arrangement_23-2149337695.jpg?ga=GA1.1.1378685497.1704724926&semt=ais_hybrid"
                alt="">
            <h1>BODY SCENTS</h1>
            
            <button class="btn but" (click)="onclick2()">explore now</button>
        </div>
    </div>
    <div class="col">
        <div class="card" data-aos="fade-left">
            <img src="https://img.freepik.com/free-photo/ecofriendly-beauty-product_23-2150669136.jpg?ga=GA1.1.1378685497.1704724926&semt=ais_hybrid"
                alt="">
            <h1>CAR SCENTS</h1>
           
            <button class="btn but" (click)="onclick3()">explore now</button>
        </div>
    </div>
</div>
