<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card" data-aos="fade-right">
            <img src="../../assets/cardimg/perfume1.avif"
                alt="">
            <h1>perfumes</h1>
            
            <button class="btn but" (click)="onclick1()">explore now</button>
        </div>
    </div>
    <div class="col">
        <div class="card" data-aos="fade-top">
            <img src="../../assets/cardimg/pefume2.avif"
                alt="">
            <h1>scents</h1>
            
            <button class="btn but" (click)="onclick2()">explore now</button>
        </div>
    </div>
    <div class="col">
        <div class="card" data-aos="fade-left">
            <img src="../../assets/cardimg/perfume3.avif"
                alt="">
            <h1>Attar</h1>
           
            <button class="btn but" (click)="onclick3()">explore now</button>
        </div>
    </div>
</div>