<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card" data-aos="fade-right">
            <img src="https://img.freepik.com/free-photo/ecofriendly-beauty-product_23-2150669104.jpg?ga=GA1.1.1378685497.1704724926&semt=ais_hybrid"
                alt="">
            <h1>EAU DE PARFUM</h1>

            <button class="btn but" (click)="onclick1()">explore now</button>
        </div>
    </div>
    <div class="col">
        <div class="card" data-aos="fade-top">
            <img src="https://img.freepik.com/free-photo/laboratory-glassware-arrangement-with-flower_23-2149481714.jpg?ga=GA1.1.1378685497.1704724926&semt=ais_hybrid"
                alt="">
            <h1>EAU DE TOILET</h1>

            <button class="btn but" (click)="onclick2()">explore now</button>
        </div>
    </div>
    <div class="col">
        <div class="card" data-aos="fade-left">
            <img src="https://img.freepik.com/free-photo/high-angle-view-essential-oil-surrounded-with-fresh-flowers-pink-background_23-2147927083.jpg?ga=GA1.1.1378685497.1704724926&semt=ais_hybrid"
                alt="">
            <h1>UNISEX PERFUMES</h1>

            <button class="btn but" (click)="onclick3()">explore now</button>
        </div>
    </div>
</div>