
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card" data-aos="fade-right">
            <img src="https://img.freepik.com/free-photo/herbal-compress-herbal-spa-treatment-equipments-put-dark-floor_1150-34499.jpg?ga=GA1.1.1378685497.1704724926&semt=ais_hybrid"
                alt="">
            <h1>FloRAL ATTARS</h1>
           
            <button class="btn but" (click)="onclick1()">explore now</button>
        </div>
    </div>
    <div class="col">
        <div class="card" data-aos="fade-top">
            <img src="https://img.freepik.com/premium-photo/perfume-oud-candle-keywords-perfume-oud-fragrance-scent-aroma-arabian-middle_723981-29.jpg?ga=GA1.1.1378685497.1704724926&semt=ais_hybrid"
                alt="">
            <h1>WOODY ATTARS</h1>
           
            <button class="btn but" (click)="onclick2()">explore now</button>
        </div>
    </div>
    <div class="col">
        <div class="card" data-aos="fade-left">
            <img src="https://img.freepik.com/free-photo/top-view-beautiful-rpg-still-life-items_23-2149282426.jpg?ga=GA1.1.1378685497.1704724926&semt=ais_hybrid"
                alt="">
            <h1>EXOTIC ATTARS</h1>
            
            <button class="btn but" (click)="onclick3()">explore now</button>
        </div>
    </div>
</div>
